.basket-item {
  display: flex;
  flex-direction: column;

  & > .info {
    display: flex;
    gap: 0, 5rem;
  }

  & span:nth-child(2) {
    flex: 1;
  }

  & > .actions {
    display: flex;
    gap: 0.5rem;
  }
}
